.filterButtons {
    margin: 2px;
}
.filterContainer {
    margin-top: 20px;
    overflow:scroll; 
    height:100vh;
}
.mainBodyContainer {
    margin-top: 10px;
    overflow:scroll; 
    height:100vh;
}