.filterButtons {
    margin: 2px;
}
.filterContainer {
    margin-top: 20px;
    overflow:scroll; 
    height:100vh;
}
.mainBodyContainer {
    margin-top: 10px;
    overflow:scroll; 
    height:100vh;
}

.itemImageContainer {
    width: auto;
    height: 100px;
    background-color: #ffffff;
    transition: transform .4s; 
	min-height: 100%;
	min-width: 100%;
	object-fit:cover;

}

.itemImageContainer img {
    position: relative;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	object-fit:cover;

}