$blue: #0084ff;
$white : #ffffff;
$grey : #eee;


$primary-color: #1081D1;
$accent-color: #eee;
$contrasted-primary-text: #FFF; 
$contrasted-accent-text: #111;

$input-border-color: darken($accent-color, 6.5%);
$input-text-color: darken(adjust-hue($primary-color, -155), 23.33);
$chat-form-top-border: darken($accent-color, 12.16);
$speech-bubble-border-color: darken($accent-color, 13.18);

.chat{
    
    height : 60%;
    width: 82%;
    align-self: center;
    .container{
        // padding : 30px;
    height : 50%;
    overflow: scroll;

        &.message-form{
            height : 10%;
            margin-top : 55%;
        }
    }
    
    // h1, h3{
    //     margin-top:0;
    //     color : $blue;
    // }
    
    // input{
    //     color :#7e99a0;
    //     font-size : 1em;
    //     font-weight : 300;
    //     line-height : 19px;
    //     padding : 5px;
    //     box-sizing : border-box;
    //     display : inline-block;
    //     width : 80%;
    // }
    
    // button{
    //     background-color: $blue;
    //     border-color : $blue;
    //     border-style : solid;
    //     color : white;
    //     font-size : 1em;
    //     padding : 5px;
    //     width : 20%;
    //     float : left;
    // }

    ul {
        list-style : none;
       // overflow-y : scroll;
        margin : 0;
        padding : 0;
        height : 100%;
    }
    .scroll {
        max-height: 200px;
        overflow-y: auto;
    }
    ul li{
        clear : both;
        display : block;
        margin-bottom : 5px;
        max-width: 47%;
        min-width : 8%;

        p {
            border-radius : 100px / 50px;
            padding : 5px 20px;
            margin : 0;
        }

        .author {
            color : grey;
            display : inline-block;
            text-align : center;
            padding : 5px;
            margin : 0 2%;
            font-weight: 300;
            font-size : 12px;
        }
    }

    .her {
        float : left;
        text-align : left;
        background: $accent-color;
        color: $contrasted-accent-text;
        border: 1px solid $speech-bubble-border-color;
        border-radius: 14px 14px 14px 0;
        // p{
        //     background : $grey;
        // }
    }

    .me {
        float : right;
        text-align : right;
        background: $primary-color;
        color: $contrasted-primary-text;
        border: 1px solid $primary-color;
        border-radius: 14px 14px 0 14px;

        .author{
            display : none;
        }

        // p{
        //     background : $blue;
        //     color : $white;
        // }
    }
    
    .her + .me {
        p{
            border-bottom-right-radius: 5px;
        }
    }

    .me + .me {
        p{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .me:last-of-type{
        p {
            border-bottom-right-radius: 30px;
        }
    }
}

.chatlist {
    padding: 10px;
    margin-bottom: 1px
}

.chatsScroll {
    height: 800px;
    overflow: scroll;
}

.chatListPadding {
    padding-right: 10px;
}

.chatListPaddingName {
    padding-right: 10px;
    margin-top: 2px;
    color: #343E45;
    font-size: 20px;
}