@import '../variables';

//Chat FOrm
$input-border-color: darken($accent-color, 6.5%);
$input-text-color: darken(adjust-hue($primary-color, -155), 23.33);
$chat-form-top-border: darken($accent-color, 12.16);

#chat-form {
  display: flex;
  align-items: center;
  grid-area: chat-form;
  background: $accent-color;
  border-radius: 0 0 10px 0;
  border-top: 1px solid $chat-form-top-border;
  padding-left: 42px;
  padding-right: 22px;

  input {
    flex: 1 0 0;
    outline: none;
    padding: 15px;
    border: 2px solid $input-border-color;
    border-right: none;
    color: $input-text-color;
    border-radius: 6px 0 0 6px;
    font-size: 1.4rem;
    margin-left: 15px;
  }

  button {
    height: 51px;
    flex: 0 0 90px;
    border-radius: 0 6px 6px 0;
  }
}

//Chat Title

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
    display: grid;
    grid: 36px / 1fr 36px;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    background: $accent-color;
    color: $primary-color;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px $chat-title-shadow;
    padding: 0 20px;
    z-index: 1;
}

//Chat Main Container

$chat-shell-background: lighten($accent-color, 65%);

#chat-container {
  display: grid;
  grid:
      'search-container chat-title' 71px
      'conversation-list chat-message-list' 1fr
      'new-message-container chat-form' 78px
      / 275px 1fr;
  min-width: 1000px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: $chat-shell-background;
  border-radius: 10px;
}

//Chat Main Message LIst

#chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
  }

//Chat Controllers Buttons

$button-text: lighten($accent-color, 65%);
$button-disabled-background: lighten(desaturate(adjust-hue($primary-color, 1), 74.07), 24.31);
$button-disabled-border: lighten(desaturate(adjust-hue($primary-color, 5), 89.24), 17.45);

.primary-button {
    flex: 0 0 auto;
    background: $primary-color;
    border: 1px solid $primary-dark;
    color: $button-text;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;

    &:disabled {
        background: $button-disabled-background;
        border: 1px solid $button-disabled-border;
    }
}
//Chat Controllers Icons
.attachment-logo {
    fill: $primary-color;
    cursor: pointer;
    width: 32px;
    height: 32px;
    enable-background: new 0 0 512.001 512.001;
}
.trash-logo {
    stroke: $primary-color;
    cursor: pointer;
}
//Chat Conversation Item
.conversation {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: $contrasted-primary-text; // $contrasting-primary-text-color;
    font-size: 1.3rem;
    border-bottom: 1px solid $primary-dark;
    padding: 20px 20px 20px 15px;

  &.active,
  &:hover {
    background: $primary-dark;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  > img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }

  .title-text {
    font-weight: bold;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  
  .created-date {
    color: $light-grey-border;
    white-space: nowrap;
    font-size: 1rem;
  }

  .conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
#conversation-list {
    grid-area: conversation-list;
    background: $primary-color;
    overflow-y: scroll;
}

#search-container {
    display: flex;
    align-items: center;
    grid-area: search-container;
    background: $primary-color;
    padding: 0 20px;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px $shadow-box-color;
    z-index: 1;

    input {
        width: 0;
        flex: 1 0 0;
        color: $accent-color;
        outline: none;
        font-weight: bold;
        border-radius: 2px;
        height: 30px;
        border: 0;
        padding-left: 48px;
        padding-right: 20px;
        font-size: 1.4rem;
        background: url('../../images//search/search.svg') no-repeat $search-background-image-color;
        background-position: 15px center;
        background-size: 20px 20px;
    }
    
    input::placeholder {
        color: $light-grey-border;
        font-weight: bold;
    }
}

$container-top-border: darken($primary-color, 27.84);

#new-message-container {
  display: grid;
  grid: 40px / 40px;
  align-content: center;
  grid-area: new-message-container;
  background: $primary-color;
  border-top: 1px solid $container-top-border;
  border-radius: 0 0 0 10px;
  padding: 0 15px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    border-radius: 100%;
    color: $primary-dark;
    text-decoration: none;
    font-size: 3.6rem;
    line-height: 3.6rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

#no-coversation-layout {
    flex: 1 0 0%;
    display: flex; 
    flex-direction: column; 

    #no-conversation-content {
        flex: 1 0 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 10px 10px;
    }

    h2 {
        color: $primary-color;
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 2rem;
    }
    
    p:last-of-type {
        margin-bottom: 1.5rem;
    }    
}
//Chat Messages
$message-time-color: darken($accent-color, 46.5%);
$speech-bubble-border-color: darken($accent-color, 13.18);

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;

    > .message-content {
        display: grid;

        > img {
            border-radius: 100%;
            grid-row: span 2;
            width: 48px;
            height: 48px;
        }
        
        > .message-time {
            font-size: 1.3rem;
            color: $message-time-color;
        }
        
        > .message-text {
            padding: 9px 14px;
            font-size: 1.6rem;
            margin-bottom: 5px;
        }
    }

    &.you-message {
        justify-content: end;

        > .message-content {
            justify-items: end;

            > .message-text {
                background: $primary-color;
                color: $contrasted-primary-text;
                border: 1px solid $primary-color;
                border-radius: 14px 14px 0 14px;
            }
        }
    }

    &.other-message {
        justify-items: start;

        > .message-content {
            grid-template-columns: 48px 1fr;
            grid-column-gap: 15px;

            > .message-text {
                background: $accent-color;
                color: $contrasted-accent-text;
                border: 1px solid $speech-bubble-border-color;
                border-radius: 14px 14px 14px 0;
            }
        }
    }
}


//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst
//Chat Main Message LIst

