.cardBody{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.cardHeader{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.zoom {
    transition: transform .2s; 
    box-shadow: none;
    min-height: 30px;
  }
  .zoom:hover {
    transform: scale(1.05);
    overflow: hidden;
    box-shadow:  5px 5px 5px darken($color: #EDEDED, $amount: 5);;

    z-index: 10000!important;

  }

  .itemImgContainer {
    height: 260px;
    width: 267px;
    object-fit: cover;
  }

  .itemImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;

  }

  .itemImgContainer-Home {
    background-color: #ffffff;
    min-height: 260px;
    width: 380px;
    object-fit: cover;
  }

  .itemImgContainer-Home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .itemImgContainer-HomeShimmer {
    background-color: #ffffff;
    min-height: 280px;
    width: 380px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .itemImgContainer-HomeShimmerImg {
    min-height: 260px;
    width: 380px;
    object-fit: cover;
    margin-top: 20px;
  }
  .ShimmerLine {
    width: 96px;
    height: 20px;
    align-self: center;
    margin-left: 16px;
    border-radius: 8px;
    padding: 9
  }