.changeProfile {
    margin-top: 10px;
}

.submitbutton{
   margin-top:7px;
     margin-left:10px
}
.containerBackground {
  width: auto;
  height: 500px;
  background-color: #ffffff;
  object-fit:cover;
top: 20%;
min-height: 100%;
min-width: 100%;
object-fit:cover;

}
.containerBackground img {
  position: relative;
vertical-align: middle;
margin-bottom: 20px;
height: 50%;
width: 100%;
object-fit:cover;
}