
.loginImage {
    max-height: 1000px;
}

.loginContainer {
    margin: 90px;
    flex-direction: row;
}
.loginContainerMobile {
    flex-direction: row;
}

.loginFormContainer {
    padding-top: 100px;
    flex-direction: column;
}

.CLogo {
    width: 300px;
    justify-content: center;
    flex-direction: row;   
}

.loginIcon {
    justify-content: center;
    border-radius: 1000px;
    padding: 25px;
    background-color: #083991;
    
}

.loginBackground {
    height: 100vh;
    background-image: url('../../assets/demo-nanny.jpg');
}

.label {
    color: #1081D1;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 700;
}